@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
    url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff2') format('woff2'),
    url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff2') format('woff2'),
    url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-UltraLight.woff2') format('woff2'),
    url('Gilroy-UltraLight.woff') format('woff'),
    url('Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Extrabold.woff2') format('woff2'),
    url('Gilroy-Extrabold.woff') format('woff'),
    url('Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Heavy.woff2') format('woff2'),
    url('Gilroy-Heavy.woff') format('woff'),
    url('Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Thin.woff2') format('woff2'),
    url('Gilroy-Thin.woff') format('woff'),
    url('Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@import 'header.scss', 'avatar.scss', 'form.scss', 'webinar.scss', 'footer.scss';
$primary-color: #242731;
$white-color: #ffffff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}
body {
  background: #242731 url('../img/bg.png') no-repeat;
  background-size: cover;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 27px;
}

.web-inline {
  display: inline-block;
}
@media screen and (max-width: 1420px) {
  footer img {
    width: 100vw;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    max-width: 780px;
  }
  .webinar-title {
    font-size: 60px;
    line-height: 80px;
  }
  .webinar-light {
    font-size: 16.9494px;
  }
  .form-title {
    font-size: 21px;
  }
  .form {
    margin-top: 0px;
  }
}
@media screen and (max-width: 860px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
    margin-top: -150px;
  }
  input {
    width: 100%;
  }
  .iti--allow-dropdown {
    width: 100%;
  }
  button[type='submit'] {
    width: 100%;
  }
  .webinar-text {
    max-width: 100%;
    text-align: center;
  }
  .avatar-text {
    max-width: 100%;
  }
  .ava {
    margin-top: 585px;
  }
  .webinar-title {
    text-align: center;
  }
  .webinar {
    display: block;
    margin: 0 auto;
  }
  .webinar-redzone {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  footer img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .one {
    color: #4252d1;
    background-image: none;
  }
  .container {
    margin: 0px 10px;
  }
  .webinar-bold:nth-child(2) {
    color: #4252d1;
  }
  button[type='submit'] {
    background: #0048ff;
  }
  .webinar-title {
    font-weight: 800;
    font-size: 49.7273px;
    line-height: 65px;
  }
  .webinar-zero {
    font-size: 16px;
    line-height: 20px;
    width: 76.26px;
    height: 27.53px;
  }
  .webinar-light {
    font-size: 14px;
    line-height: 18px;
  }
  .webinar-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 148%;
    margin-bottom: 20px;
  }
  .form-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
  }
  .form,
  .button[type='submit'] {
    padding: 40px 43px;
  }
}
